{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('static', filename='CSS/navbar.css') }}">
{% endblock %}

{% block body %}
		<div align='center' class="container">
			<ul>
				<li><a class="active" href="{{ url_for('home') }}"><h1>BlogIt</h1></a></li>
			</ul>
			<ul>
				<li><a class="active" href="{{ url_for('signup') }}">Sign up</a></li>
				<li><a class="active" href="{{ url_for('login') }}">Log in</a></li>
			</ul>
		</div>
	
		<div class="container">
		<h2><u>Posts</u> </h2>
		</div>
		{% if posts %}
			{% for post in posts %}
				<div class="container">
				{% for user in users %}
					{% if post.owner_id == user.id %}
					<div><h3>{{ post.title }} {{ "      " }}</h3></div>
					<div><h3>By <b>{{ user.username }}</b></h3></div>
					<div>{{ post.date_created.date() }}</div>
					<br>
					<h4>{{ post.content }}</h4>
					<hr>
					{% endif %}
				{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			<div class="container">
				<h2> There are no posts by the users for now.. </h2>
			</div>
		{% endif %}

{% endblock %}
		

