{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
		<div align='center'>
			<h1> Welcome </h1>
			<form action='/' method='post'>
				<input placeholder='Name' name='name'>
				<input placeholder='Post content' name='post'>
				<input type='submit' value='submit'>
			</form>
		</div>

		{% for post in posts %}
			<h4>Posted by: </h4>
			<div>{{ post.name }} {{ "      " }}</div>
			<div>{{post.date_created.date()}}</div>
			<br>
			<table>
					<tr>
						<td>{{post.content}}</td>
					</tr>
					<tr>
						<td><a href = "/update/{{ post.id }}">Update</td>
						<td><a href = "/delete/{{ post.id }}">Delete</td>
					</tr>
				</table>
			<hr>
		{% endfor %}

{% endblock %}
		

