{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('static', filename='CSS/navbar.css') }}">
{% endblock %}

{% block body %}
<div>
    <h1 style="text-align: center">Update Post</h1>

    <div align="center">
        <form action="/update/{{post.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{post.content}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
